### [ 7 ] Create table contact(fname,laname,contact,email,city). Perform following operation on it.
### 1. Insert Contact 8 records
### 2. Delete ContactÂ¶

In [1]:
import sqlite3 as sq

### Connect to the py.db databse

In [2]:
conn=sq.connect("D:\\sqlite\\csv\\py.db")

In [3]:
cur=conn.cursor()

### Create table contact

In [7]:
cur.execute('''
CREATE TABLE IF NOT EXISTS contact (
    fname TEXT,
    lname TEXT,
    contact TEXT,
    email TEXT,
    city TEXT
)
''')

### Insert 8 records in the table

In [6]:
records = [
    ('Om', 'Patel', '1234567890', 'om@gmail.com', 'Surat'),
    ('Sai', 'Patel', '9876543210', 'sai@gmail.com', 'Bardoli'),
    ('Ram', 'Shah', '4561237890', 'ram@gmail.com', 'Madhi'),
    ('Bob', 'Brown', '7894561230', 'bob@example.com', 'Vyara'),
    ('Charlie', 'Johnson', '1231231234', 'charlie@example.com', 'Surat'),
    ('Diana', 'Williams', '3213213210', 'diana@example.com', 'Mahuva'),
    ('Eve', 'Davis', '4567891230', 'eve@example.com', 'Vapi'),
    ('Frank', 'Miller', '6543219870', 'frank@example.com', 'Navsari')
]

### Execute insert query

In [8]:
cur.executemany('''
INSERT INTO contact (fname, lname, contact, email, city)
VALUES (?, ?, ?, ?, ?)
''', records)

In [9]:
conn.commit()

### Create trigger

In [11]:
cur.execute('''
CREATE TRIGGER IF NOT EXISTS delete_trigger
BEFORE DELETE ON contact
FOR EACH ROW
WHEN OLD.fname = 'Ram'
BEGIN
    DELETE FROM contact WHERE fname = 'Ram';
END;
''')

In [12]:
conn.commit()

### Execute delete query

In [15]:
cur.execute("DELETE FROM contact WHERE fname = 'Ram'")

In [16]:
conn.commit()

In [17]:
cur.execute('SELECT * FROM contact')

### Print records after delete

In [18]:
rows = cur.fetchall()
for row in rows:
    print(row)

('Om', 'Patel', '1234567890', 'om@gmail.com', 'Surat')
('Sai', 'Patel', '9876543210', 'sai@gmail.com', 'Bardoli')
('Bob', 'Brown', '7894561230', 'bob@example.com', 'Vyara')
('Charlie', 'Johnson', '1231231234', 'charlie@example.com', 'Surat')
('Diana', 'Williams', '3213213210', 'diana@example.com', 'Mahuva')
('Eve', 'Davis', '4567891230', 'eve@example.com', 'Vapi')
('Frank', 'Miller', '6543219870', 'frank@example.com', 'Navsari')