### [ 7 ] Create table contact(fname,laname,contact,email,city). Perform following operation on it.
### 1. Insert Contact 8 records
### 2. Delete Contact

In [94]:
import sqlite3 as sq

#### connect to the python.db databse

In [95]:
conn=sq.connect("D:\\sqlite\\csv\\python01.db")

In [96]:
cur=conn.cursor()

### Create table contact01

In [97]:
cur.execute('''
CREATE TABLE IF NOT EXISTS contact (
    fname TEXT,
    lname TEXT,
    contact TEXT,
    email TEXT,
    city TEXT
)
''')

In [98]:
conn.commit()

### Insert 8 records in the table

In [99]:
records = [
    ('Om', 'Patel', '1234567890', 'om@gmail.com', 'Surat'),
    ('Sai', 'Patel', '9876543210', 'sai@gmail.com', 'Bardoli'),
    ('Ram', 'Shah', '4561237890', 'ram@gmail.com', 'Madhi'),
    ('Bob', 'Brown', '7894561230', 'bob@example.com', 'Vyara'),
    ('Charlie', 'Johnson', '1231231234', 'charlie@example.com', 'Surat'),
    ('Diana', 'Williams', '3213213210', 'diana@example.com', 'Mahuva'),
    ('Eve', 'Davis', '4567891230', 'eve@example.com', 'Vapi'),
    ('Frank', 'Miller', '6543219870', 'frank@example.com', 'Navsari')
]

### Execute insert query

In [100]:
cur.executemany('''
INSERT INTO contact (fname, lname, contact, email, city)
VALUES (?, ?, ?, ?, ?)
''', records)

In [101]:
conn.commit()

### Execute delete query

In [102]:
cur.execute('''
DELETE FROM contact WHERE fname = ?
''', ('Ram',))

In [103]:
conn.commit()

In [104]:
cur.execute('SELECT * FROM contact')

### Print records after delete

In [105]:
rows = cur.fetchall()
for row in rows:
    print(row)

('Om', 'Patel', '1234567890', 'om@gmail.com', 'Surat')
('Sai', 'Patel', '9876543210', 'sai@gmail.com', 'Bardoli')
('Bob', 'Brown', '7894561230', 'bob@example.com', 'Vyara')
('Charlie', 'Johnson', '1231231234', 'charlie@example.com', 'Surat')
('Diana', 'Williams', '3213213210', 'diana@example.com', 'Mahuva')
('Eve', 'Davis', '4567891230', 'eve@example.com', 'Vapi')
('Frank', 'Miller', '6543219870', 'frank@example.com', 'Navsari')

In [106]:
conn.close()